@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: block;
    width: fit-content;
    background: #323232;
    background: -webkit-linear-gradient(0deg, #323232 0%, #000000 100%);
    background: linear-gradient(0deg, #323232 0%, #000000 100%);
}

header{
    width: 100%;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li{
    margin: 20px;
}

nav ul li a{
    color: aliceblue;
    font-size: 1em;
    text-decoration: none;
    font-weight: 400;
}

nav ul li a .contact-btn{
    background-color: #E92C0C;
    padding: 10px 15px;
    border: none;
    color: aliceblue;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
}

footer{
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .copyrights{
    color: aliceblue;
    font-size: 1em;
    font-weight: 400;
    margin: 15px;
}

.logo{
    color: aliceblue;
    font-size: 1.5em;
    margin-left: 15px;
}

.logo h3{
    font-size: 1em;
    font-weight: 700;
}

.logo h3 span{
    font-size: 1em;
    color: #E92C0C;
}

.hero{
    margin-top: 5%;
    display: grid;
    width: 100%;
    height: fit-content;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(2, 2fr);
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    color: aliceblue;
    
    transform: translateX(-10%);
}

.content h1{
    font-size: 3.5em;
    font-weight: 900;
}

.content h1 span{
    color: #505351;
}

.content h2{
    font-size: 1.5em;
    font-weight: 700;
}

.content p{
    font-size: 1.1em;
    font-weight: 400;
    width: 100ch;
}

.content p a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.content p span{
    color: #E92C0C;
}

.content h1 #textCycle{
    color: #E92C0C;
}

#textCycle{
    border-right: solid 5px rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
}

#textCycle{
    animation:  animated-cursor 600ms steps(13,end) infinite;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
}

@keyframes animated-cursor{
    from{border-right-color: rgb(138, 139, 138);}
    to{border-right-color: transparent;}
}

.social-container{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 50%;
    width: fit-content;
}

.social-btn{
    display: grid;
    place-items: center;
    min-height: 3em;
    min-width: 3em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 5px;
}

.social-btn a{
    color: white;
    font-size: 1.1em;
}

.content a{
    width: fit-content;
}

.social-btn:hover{
    background-color: #f0f8ffaf;
    color: #000000;
    cursor: pointer;
}

.social-btn:hover a{
    color: #000000;
}


.content a button{
    margin-top: 10px;
    color: #E92C0C;
    font-size: 1.2em;
    font-weight: 700;
    padding: 10px 0px;
    background: transparent;
    border: none;
}

.content a button span{
    text-decoration: underline;
    cursor: pointer;
}

.profile-pic{
    margin-left: 50px;
    height: 45em;
    opacity: 45%;
}

.Services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.Services h1{
    color: aliceblue;
}

.Services h2{
    font-size: 2.5em;
    color: aliceblue;
    font-weight: 600;
}

.Services h2 span{
    color: #E92C0C;
}

.services-container{
    margin-top: 25px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.service-card{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5em 0.1em;
    width: 20%;
    height: fit-content;
    background: #b9b9b94d;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 25px;
}

.service-card h3{
    color: #E92C0C;
    font-size: 1.5em;
}

.service-card p{
    font-size: 1em;
    width: 35ch;
    margin-bottom: 15px;
}

.service-card i{
    font-size: 2em;
    margin-top: 25px;
}

.service-card a button{
    color: aliceblue;
    background-color: #E92C0C;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    padding: 15px;
    cursor: pointer;
}

.service-card a button:hover{
    background-color: aliceblue;
    color: #E92C0C;
}

.service-card a button i{
    font-size: 1em;
    margin: 0;
}

.projects-container{
    margin-top: 2%;
    height: fit-content;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.projects-container h2{
    font-size: 2.5em;
    font-weight: 600;
    color: aliceblue;
}

.projects-container h2  span{
    color: #E92C0C;
}

.projects{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.project-card{
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    background-color: #3f3e3e;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-desc h3{
    font-size: 1.5em;
    color: #E92C0C;
}

.project-desc p{
    font-size: 1em;
    color: aliceblue;
}

.project-desc a{
    color: aliceblue;
    background-color: #E92C0C;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    padding: 15px;
    cursor: pointer;
}

.contact{
    margin-top: 2%;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.contact h2{
    color: aliceblue;
    font-size: 2.5em;
    font-weight: 600;
}

.contact h2 span{
    color: #E92C0C;
}

.form-container{
    width: 100%;
    height: fit-content;
    display: grid;
    place-items: center;
    margin-top: 35px;
}

form{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #b9b9b94d;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 10px;
    padding: 15px;
}

form .inputs{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
}

form h1{
    font-size: 1.9em;
    color: aliceblue;
}

form p{
    font-size: 1em;
    color: aliceblue;
}

form p span{
    color: #E92C0C;
}

form input{
    background: transparent;
    border: 2px solid aliceblue;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 35px;
}

::-webkit-input-placeholder{
    color: aliceblue;
    position: fixed;
    left: 0;
    margin-left: 5px;
}

form textarea{
    background: transparent;
    border: 2px solid aliceblue;
    border-radius: 5px;
    margin-top: 5px;
}

#totop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E92C0C;
    color: aliceblue;
    cursor: pointer;
    z-index: 9;
    display: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

#totop.active{
    display: flex;
}